<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>About</title>
</head>
<body>
  {{>header}}
  <main>  
    <img src="/imgs/portrait.jpg" class="portrait">
    <h2>Hi! My name is Harjot.</h2>
    <p>I'm a student at the University of Waterloo and I'm currently in my 1B term of Computer Science. My interests include Full Stack Web Development and Game Programming.</p>
  </main>
  {{>footer}}
</body>
</html>